{% extends 'blog/base.html' %}
{% block content %}
<div class="row mt-4">
    <div class="col-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Update/delete your post here!</h5>
              <p class="card-text">Click the button below to perform the action</p>
            </div>
            <div class="card-body text-center">
              <a href="{% url 'blog-update' post.id %}" class="btn btn-outline-warning">Update</a>
              <a href="{% url 'blog-delete' post.id %}" class="btn btn-outline-danger ms-2">Delete</a>
            </div>
        </div>
    </div>
    <div class="col">
        <h1 class="mb-3">Post {{ post.id }} - detail</h1> 
        <div class="card mt-2">
            <div class="card-header">
                {{ post.author }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}